header {
  position: fixed;
  width: 100%;
  background-color: var(--white);
  top: 0;
}

header .container {
  flex-direction: row;
  justify-content: space-between;
}

header ul {
  display: flex;
  margin: 0;
}

header ul li {
  padding: 0 20px;
}

#break1 {
  top: 640px;
}

#break2 {
  top: 1340px;
}

#break3 {
  top: 1850px;
}

#break4 {
  top: 2450px;
}

#hero {
  margin-top: 140px;
}

#hero h1 {
  font-size: 6vw;
}

#nosotros .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nosotros .textContainer {
  width: 50%;
}

#nosotros .img-container {
  background-image: url(https://images.pexels.com/photos/4483608/pexels-photo-4483608.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 333px;
  border-radius: 2px;
}

#diferenciadores .container {
  display: grid;
  grid-template-areas:
    "titulo titulo titulo"
    "card1 card2 card3";
  gap: 50px;
}

#diferenciadores .container h2 {
  grid-area: titulo;
}

#cosas .grid {
  max-width: 780px;
}

#cosas .producto {
  margin: 10px 30px ;
}

#contacto .container {
  /* margin: 0 20px; */
}

#contacto .mapa {
  margin: 0px 0px 40px;
}

footer .container {
  flex-direction: row;
  justify-content: space-around;
}

footer .redes {
  width: 200px;
  justify-content: space-between;
}

footer .redes svg {
  transform: scale(150%);
}
