:root {
  --primal: #f1f6f9;
  --Blue: #14274e;
  --Blue2: #394867;
  --GBlue: #9ba4b4;
  --black: #1e1e1e;
  --white: #f3f3f3;
  --gray: #b6b6b6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-icons-outlined.md-18 {
  font-size: 18px;
}

html {
  font-size: 62.5%;
  font-family: "Gantari", sans-serif;
  color: var(--black);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
}

h1 {
  font-size: 3.2rem;
  margin-bottom: 40px;
}
h2 {
  font-size: 2.8rem;
  margin-bottom: 32px;
}
h3 {
  font-size: 2rem;
  margin-bottom: 4px;
  padding-top: 4px;
}
p,
a,
li {
  font-size: 1.6rem;
}
a:hover {
  color: var(--GBlue);
}

button,
button a {
  font-size: 1.6rem;
  color: var(--primal);
}

button {
  font-weight: 700;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--Blue2);
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.6),
    -2px -2px 5px rgb(255, 255, 255, 0.2);
  background-color: var(--Blue);
}

button:hover {
  background-color: var(--Blue2);
}

ul {
  list-style: none;
  margin-bottom: 12px;
}

body {
  background-color: var(--white);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
  background-image: url(/assets/cropped-Logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
}

li {
  padding-bottom: 4px;
}

.break {
  position: absolute;
  width: 5px;
  top: 640px;
}

#break2 {
  top: 1340px;
}

#break3 {
  top: 1890px;
}
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 80vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://images.pexels.com/photos/2523921/pexels-photo-2523921.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primal);
}

#hero a:hover {
  color: var(--primal);
}

#nosotros .container {
  text-align: justify;
  padding: 120px 20px;
}

#diferenciadores {
  background-color: var(--Blue2);
  color: var(--primal);
}

#diferenciadores .container {
  text-align: justify;
  padding: 80px 20px;
}

#diferenciadores .card {
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    -1px -1px 10px rgba(255, 255, 255, 0.5);
  padding: 0 16px;
}

#diferenciadores p {
  margin-bottom: 20px;
  padding-bottom: 8px;
}

#contacto {
  margin: 0 auto;
  padding: 80px 20px;
}

#contacto ul {
  margin-bottom: 40px;
}

#contacto li {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}

#contacto .mapa {
  margin: 20px auto;

}

#contacto .form {
  background-color: var(--gray);
  padding: 12px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    -1px -1px 10px rgba(255, 255, 255, 0.5);
  text-align: center;
}

#contacto form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

#contacto .input-style {
  background: none;
  border: none;
  border-bottom: 1px solid var(--Blue);
  padding-bottom: 8px;
  margin-bottom: 16px;
  width: 60%;
}

#contacto .input-style::placeholder {
  color: var(--Blue2);
}
#contacto .input-style:focus-visible {
  outline: none;
}

footer {
  background-color: var(--Blue);
  height: 200px;
  border-top: 10px solid var(--Blue2);
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 100%;
}

footer .redes {
  display: flex;
  width: 160px;
  justify-content: space-evenly;
}

footer svg {
  fill: var(--primal);
}

footer p {
  color: var(--primal);
}

footer .logo {
  background-image: url(/assets/cropped-Logow2.png);
  margin: 10px;
}
