:root {
  --primal: #f1f6f9;
  --Blue: #14274e;
  --Blue2: #394867;
  --GBlue: #9ba4b4;
  --black: #1e1e1e;
  --white: #f3f3f3;
  --gray: #b6b6b6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-whatsapp {
  background-image: url(https://image.similarpng.com/thumbnail/2021/10/Whatsapp-icon-design-on-transparent-background-PNG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 48px;
  height: 48px;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: 100px;
}

.btn-whatsapp:hover {
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(7, 94, 84, 1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(7, 94, 84, 1);
  box-shadow: 0px 0px 15px 0px rgba(7, 94, 84, 1);
  transition-duration: 1s;
}

.material-icons-outlined.md-18 {
  font-size: 18px;
}

html {
  font-size: 62.5%;
  font-family: "Gantari", sans-serif;
  color: var(--black);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
}

h1 {
  font-size: 3.2rem;
  margin-bottom: 40px;
}
h2 {
  font-size: 2.8rem;
  margin-bottom: 32px;
}
h3 {
  font-size: 2rem;
  margin-bottom: 4px;
  padding-top: 4px;
}
p,
a,
li {
  font-size: 1.6rem;
}
a:hover {
  color: var(--GBlue);
}

button,
button a {
  font-size: 1.6rem;
  color: var(--primal);
}

button {
  font-weight: 700;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--Blue2);
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.6),
    -2px -2px 5px rgb(255, 255, 255, 0.2);
  background-color: var(--Blue);
}

button:hover {
  background-color: var(--Blue2);
}

ul {
  list-style: none;
  margin-bottom: 12px;
}

body {
  background-color: var(--white);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
  background-image: url(https://i.ibb.co/8BBWz33/cropped-Logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
}

li {
  padding-bottom: 4px;
}

.break {
  position: absolute;
  width: 5px;
  top: 820px;
}

#break2 {
  top: 1580px;
}

#break3 {
  top: 2300px;
}

#break4 {
  top: 3900px;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 80vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://images.pexels.com/photos/2523921/pexels-photo-2523921.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primal);
}

#hero a:hover {
  color: var(--primal);
}

#nosotros .container {
  text-align: justify;
  padding: 120px 20px;
}

#diferenciadores {
  background-color: var(--Blue2);
  color: var(--primal);
}

#diferenciadores .container {
  text-align: justify;
  padding: 80px 20px;
}

#diferenciadores .card {
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    -1px -1px 10px rgba(255, 255, 255, 0.5);
  padding: 0 16px;
}

#diferenciadores p {
  margin-bottom: 20px;
  padding-bottom: 8px;
}

#cosas {
  border-bottom: 10px solid var(--GBlue);
}

#cosas .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

#cosas .grid {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#cosas a {
  color: var(--primal);
}

#cosas .producto {
  background-color: var(--Blue2);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(https://www.ro-des.com/wp-content/uploads/2014/04/Filtro-de-aceite-.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  text-align: center;
  transition-duration: 500ms;
  transition-property: all;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#cosas .grid :nth-child(2) .producto {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
    url(https://brr.mx/wp-content/uploads/2021/03/rodamientos-y-cojinetes-portada-min.jpg);
}

#cosas .grid :nth-child(3) .producto {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
    url(https://ae04.alicdn.com/kf/HTB1YylDbcfrK1RkSmLyq6xGApXa5.jpg);
}

#cosas .grid :nth-child(4) .producto {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
    url(https://www.prolifttoyota.com/wp-content/uploads/2016/05/sp_Brake4CCOBpart2eps.jpg);
}

#cosas .grid :nth-child(5) .producto {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
    url(https://store.intellaliftparts.com/blog/wp-content/uploads/2016/06/forks-006.jpg);
}

#cosas .grid :nth-child(6) .producto {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
    url(https://isteam.wsimg.com/ip/bd956bab-dc5d-4c2b-8e73-f54d280f118c/estandar%20new%20line%203%20t.jpg/:/rs=w:1200,h:1200);
}

#cosas .producto:hover {
  background-size: 200%;
}
#cosas a:hover {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}


#contacto {
  background-color: var(--Blue2);
  color: var(--primal);
  margin: 0 auto;
  padding: 80px 20px;
}

#contacto ul {
  margin-bottom: 40px;
}

#contacto li {
  display: flex;
  align-items: flex-end;
  font-size: 1.8rem;
}

#contacto ul :nth-child(3) span {
  align-self: flex-start;
  padding-top: 4px;
}

#contacto .mapa {
  margin: 20px auto;
}

#contacto .form {
  background-color: var(--primal);
  color: var(--Blue);
  padding: 12px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    -1px -1px 10px rgba(255, 255, 255, 0.5);
  text-align: center;
}

#contacto form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

#contacto .input-style {
  background: none;
  border: none;
  border-bottom: 1px solid var(--Blue);
  padding-bottom: 8px;
  margin-bottom: 16px;
  width: 60%;
}

#contacto .input-style::placeholder {
  color: var(--Blue2);
}
#contacto .input-style:focus-visible {
  outline: none;
}

footer {
  background-color: var(--Blue);
  height: 200px;
  border-top: 10px solid var(--GBlue);
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 100%;
}
footer .logo a {
  width: 20px;
  height: 20px;
}
footer .redes {
  display: flex;
  width: 160px;
  justify-content: space-evenly;
}

footer svg {
  fill: var(--primal);
}

footer p {
  color: var(--primal);
}

footer .logo {
  background-image: url(https://i.ibb.co/m5Mw8ds/cropped-Logow2.png);
  margin: 10px;
}
